@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(21, 169, 196);
    --primary-color-darker: rgb(10, 111, 129);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 2;
    line-height: 0.8em;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}


.calculadora {
    width: 450px;
}


.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    background: #dfdfdf;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #929292;
}
